<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="BrowserType" value="Edge"/>
    <add key="BaseUrl" value="http://localhost:3000"/>
    <add key="ConnectionString" value="FxZ1Fd2r8qpn3GixJWli13hWW0b/Tq7N9RrFW61s9n7TSt4xORfi0SZutIkuypPoS09c8gzrmCmz5u0FE0WcOvuXOGTpQGnXdjmQzUOBrIlPE8OFKOonrMstkWy6LAcpx74iX/TaB/p8T9X2tU2LLw=="/>
    <add key="Environment" value="Local"/>
    <add key="WaitMultiplier" value="2"/>    
  </appSettings>
</configuration>