<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="BrowserType" value="Chrome"/>
    <add key="BaseUrl" value="http://localhost:3000"/>
    <add key="ConnectionString" value="MxKohptcBNyyNYJA9ZSnVl5mJ3nX+XfCXwwwfoSy0WivQ2ka1NiZI2NRE3x/+L/3XtvKMHv/b6bWgnq7+OnWeogUl3Tn4aVFKu1mt7bnkx7tXjqHd3NZF1F4SIvtWZb+MA8tPU2RCDum8z9ztClucfhuljEoLQyKecgdlu8zu0cZaG5b3AxL9LDW86XcjZUm"/>
    <add key="Environment" value="Local"/>
    <add key="WaitMultiplier" value="2"/>    
  </appSettings>
</configuration>